*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
 margin: 0;
    
}

.main-container{
    padding: 50px 0 100px 0;
    background-image: url('images/wallpapers/tavli-wallpaper-1.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ------------------------- header starts here-------------------------*/
header {
    /* background-color: #4CAF50; */
    background-image: url('images/wallpapers/tavli-wallpaper-2.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;

    position: relative; /* Αυτό είναι απαραίτητο για να τοποθετηθεί σωστά το overlay */
    z-index: 1; /* Βεβαιώσου ότι το header είναι πάνω από το overlay */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Μαύρο overlay με 50% διαφάνεια */
    backdrop-filter: blur(10px); /* Blur στο overlay */
    z-index: -1; /* Τοποθετεί το overlay πίσω από το περιεχόμενο του header */
    border-radius: inherit; /* Διατήρηση των border-radius του header αν υπάρχουν */
  }
  
  header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Border shadow κάτω από το header */
  }

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: white;
}

.logo-container{

    width: 10%;
}

.imglogo{
    width: 100%;
}

.nav-container{
    padding-left: 50px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #87CEEB; /*  color */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.1s ease;
}

nav ul li a:hover {
    background-color: #1E90FF; /* hover */
}
/* ------------------------- header ends here-------------------------*/

/*------------------------- παιχνιδια submenu starts here-------------------------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; /* Μπορείς να αλλάξεις το χρώμα αν θες */
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul.submenu {
    display: block;
}

nav ul li ul.submenu li {
    display: block;
}

nav ul li ul.submenu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black; /* Μπορείς να αλλάξεις το χρώμα αν θες */
}

nav ul li ul.submenu li a:hover {
    background-color: #ddd; /* Μπορείς να αλλάξεις το χρώμα αν θες */
}
/*------------------------- παιχνιδια submenu ends here-------------------------*/

.heading-intro{
    text-align: center;
}

h1.heading-intro{
    font-size: 50px;
}

.container-1{
    margin: 0 auto;
    background-color: #ffffff9d; /* White with 50% transparency */
    padding: 50px 0 50px 0;
    width: 90%;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.234); /* Example box shadow */

    display: flex; /* mazi me tis apo katw kentraroun ola ta items tou container*/
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-1-1{
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

}
.container-1-2{
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

}
.container-1-3{
    /* padding: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 200%; 
    height: auto; */
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

}
.container-1-4{
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

}

.container-1-5{
    padding: 20px 20px 20px 20px;
    border-radius: 10px;

}

.container-titles{
    text-align: center;
}

.img-home-games{
    width: 100%;
    border-radius: 10px;
}
/* footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; 
}

.contact-info {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    padding: 0px; 
}

.footer-bottom {
    text-align: left; 
    margin-top: 10px;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.footer-bottom li {
    display: inline;
    margin-right: 10px; 
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}


/* Styling for the social media links */
.social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Οριζόντιo */
    align-items: center; /* kentro */
}

.social-media ul li {
    margin-left: 20px; 
}

.social-media ul li a {
    color: #87CEEB; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.1s ease;
}

.social-media ul li a:hover {
    color: #1E90FF; 
}

.social-media ul li a i {
    margin-right: 8px; 
}


.footer-bottom li {
    display: inline;
    margin-right: 10px; 
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/* Styling for the social media links */
.social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Οριζόντιo */
    align-items: center; /* kentro */
}

.social-media ul li {
    margin-left: 20px; 
}

.social-media ul li a {
    color: #87CEEB; 
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.1s ease;
}

.social-media ul li a:hover {
    color: #1E90FF; 
}

.social-media ul li a i {
    margin-right: 8px; 
}

