*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    /* padding:20px 0 100px 0;
    background-image: url('../images/wallpapers/onedice.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.main-container{
    padding:100px 0 100px 0;
    background-image: url('../images/wallpapers/onedice.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* ------------------------- header starts here-------------------------*/
header {
    /* background-color: #4CAF50; */
    background-image: url('../images/wallpapers/tavli-wallpaper-2.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;

    position: relative; /* Αυτό είναι απαραίτητο για να τοποθετηθεί σωστά το overlay */
    z-index: 1; /* Βεβαιώσου ότι το header είναι πάνω από το overlay */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Μαύρο overlay με 50% διαφάνεια */
    backdrop-filter: blur(10px); /* Blur στο overlay */
    z-index: -1; /* Τοποθετεί το overlay πίσω από το περιεχόμενο του header */
    border-radius: inherit; /* Διατήρηση των border-radius του header αν υπάρχουν */
  }
  
  header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Border shadow κάτω από το header */
  }

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: white;
}

.logo-container{

    width: 10%;
}

.imglogo{
    width: 100%;
}

.nav-container{
    padding-left: 50px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #87CEEB; /*  color */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.1s ease;
}

nav ul li a:hover {
    background-color: #1E90FF; /* hover */
}
/* ------------------------- header ends here-------------------------*/


/*------------------------- παιχνιδια submenu starts here-------------------------*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; /* Μπορείς να αλλάξεις το χρώμα αν θες */
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

nav ul li:hover ul.submenu {
    display: block;
}

nav ul li ul.submenu li {
    display: block;
}

nav ul li ul.submenu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black; /* Μπορείς να αλλάξεις το χρώμα αν θες */
}

nav ul li ul.submenu li a:hover {
    background-color: #ddd; /* Μπορείς να αλλάξεις το χρώμα αν θες */
}
/*------------------------- παιχνιδια submenu ends here-------------------------*/



.heading-intro{
    text-align: center;
}

h1.heading-intro{
    font-size: 50px;
}

.container{
    margin: 0 auto;
    background-color: #ffffff9d; /* White with 50% transparency */
    padding: 50px 0 50px 0;
    width: 90%;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.234); /* Example box shadow */

    /* display: flex;
    justify-content: center;
    align-items: center; */

}

/* -------------------SOUND BUTTON STARTS HERE------------------- */
.play {
    padding: 10px;
    margin-right: 25px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
    float: right; /* Aligns the button to the right */
    background-color: white; /* Initial background color */
    color: black; /* Icon color */
}

.play .fas {
    font-size: 20px;
}

.play.muted {
    background-color: red; /* Background color when muted (button is active) */
    color: white; /* Icon color when muted */
}
/* -------------------SOUND BUTTON ENDS HERE------------------- */

.container-1-1{
    padding: 20px 0 20px 0;

    display: flex;
    flex-direction: column; /* Stack the divs vertically */
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.container-1-1-1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container-1-1-2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.container-1-2{
    padding: 20px 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}





/* -------------------zaria morfopoihsh starts here------------------- */
.container-buttons{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow the buttons to wrap if needed */
    gap: 10px; /* Space between buttons */

}
.img-dice {
    width: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.095); /* Example box shadow */

}
.img-dice2 {
    width: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.095); /* Example box shadow */
    opacity: 0.2; /* 30% transparency */

}
.img-dice3 {
    width: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.095); /* Example box shadow */
    opacity: 0.2; /* 30% transparency */
}
.img-dice4 {
    width: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.095); /* Example box shadow */
    opacity: 0.2; /* 30% transparency */
}
/* -------------------zaria morfopoihsh starts here------------------- */





.h3-dice-score{
    text-align: center;
    font-size: 30px;
}
.h3-arithmos-zarion{
    text-align: center;
    font-size: 20px;
}


.btn-1-dice{
    background-color: aqua;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add this line for the transition */
}
.btn-1-dice:hover{
    background-color: blueviolet;
    
}

.btn-2-dice{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add this line for the transition */
}
.btn-2-dice:hover{
    background-color: red;
}

.btn-3-dice{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add this line for the transition */
}
.btn-3-dice:hover{
    background-color: red;
    
}

.btn-4-dice{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add this line for the transition */
}
.btn-4-dice:hover{
    background-color: red;
}

.btn-roll-dice{
    background-color: aqua;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add this line for the transition */
}
.btn-roll-dice:hover{
    background-color: blueviolet;
    
}

.btn-clear{
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Add this line for the transition */
}
.btn-clear:hover{
    background-color: red;
}



/* ---------------History and popup menu starts here--------------- */
.btn-history{
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: rgb(120, 243, 80);
    transition: background-color 0.5s ease; /* Add this line for the transition */
}

.btn-history:hover{
    background-color: rgb(193, 220, 88);
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* ---------------History and popup menu ends here----------------- */

/* footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  margin: 0 15px;
}

.footer-section.contact,
.footer-section.links,
.footer-section.games {
  text-align: left;
}

.footer-section.contact {
  text-align: center;
}

.footer-logo {
  width: 100px; 
  margin: 0 auto 10px auto;
  display: block;
}

.footer-section.links .social-links {
  margin: 10px 0;
}

.footer-section.links .social-links a {
  color: #fff;
  margin-right: 10px;
  font-size: 18px;
}

.footer-section a {
  color: #87ceeb;
  text-decoration: none;
}

.footer-section a:hover {
  color: #87ceeb;
  text-decoration: underline;
}

.rate-me {
  display: block;
  margin-top: 10px;
  color: #00f;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Προσαρμογή της λίστας για καλλιτεχνικά γράμματα DICE */
.footer-section.games ul {
  list-style: none; /* Αφαίρεση των κουκκίδων */
  padding: 0;
  margin-left: 20px;
}

.footer-section.games ul li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px; /* + χώρο για τα καλλιτεχνικά γράμματα */
}

.footer-section.games ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 24px;
  font-family: 'Lobster', cursive; /* Καλλιτεχνική γραμματοσειρά */
  color: red; /* Κόκκινο χρώμα για τα γράμματα D, I, C, E */
}

/* Προσθήκη των γραμμάτων D, I, C, E */
.footer-section.games ul li:nth-child(1)::before {
  content: "D";
}

.footer-section.games ul li:nth-child(2)::before {
  content: "I";
}

.footer-section.games ul li:nth-child(3)::before {
  content: "C";
}

.footer-section.games ul li:nth-child(4)::before {
  content: "E";
}

.footer-section.games ul li a {
  color: #87ceeb;
  text-decoration: none;
}

.footer-section.games ul li a:hover {
  text-decoration: underline;
}
.footer-section .social-links p {
    display: inline-flex;
    align-items: center;
  }

  .footer-section .social-links p i {
    margin-right: 8px; 
  }

  /*footer ends here*/

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

/*----------------Responsive for phones code starts here-----------*/


@media (max-width: 768px) {
    body {
        padding: 0;
    }
    header {
        padding: 30px 0;
    }

    .header-container {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        text-align: center;
    }

    .logo-container {
        width: 30%;
    }

    .nav-container {
        display: none; 
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 20px;
        border-radius: 8px;
        width: 80%;
        text-align: center;
    }

    .burger {
        display: flex; 
    }

    .nav-container.active {
        display: block; 
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul li {
        margin: 10px 0;
    }

    h1.heading-intro {
        font-size: 30px;
    }

    .container-1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 10px; 
        justify-items: center; 
    }

    .img-dice,
    .img-dice2,
    .img-dice3,
    .img-dice4 {
        width: 80%;
    }

    .container-1-1-1,
    .container-1-1-2 {
        flex-direction: column;
        align-items: center;
    }
    .container-buttons {
        align-items: normal;
    }

    .btn-1-dice,
    .btn-2-dice,
    .btn-3-dice,
    .btn-4-dice,
    .btn-roll-dice,
    .btn-clear,
    .btn-history {
        width: 20%;
        text-align: center;
    }

    nav ul li ul.submenu {
        position: static;
        background-color: transparent;
        display: none;
        width: 80%;
        box-shadow: none;
        margin-top: 10px;
        z-index: 1000;
    }

    nav ul li:hover ul.submenu {
        display: block;
    }

    nav ul li ul.submenu li {
        width: 100%;
    }

    nav ul li ul.submenu li a {
        align-items: center;
        padding: 10px;
        color: #ffffff;
    }

    nav ul li ul.submenu li a:hover{
        background-color: #1E90FF;
    }

    .popup{
        width: 70%;
    }

    footer {
        padding: 10px 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 10px;
    }

    .footer-section {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .footer-logo {
        width: 100px;
        margin: 0 auto 10px auto;
    }

    .footer-section.links, .footer-section.games, .footer-section.contact {
        width: 100%;
        text-align: center; 
        margin: 0 auto;
    }

    .h3-arithmos-zarion{
        text-align: center;
        padding-left: 15%;
    }
}

/*----------------Responsive for phones code ends here-----------*/
